@import 'tailwindcss';

body {
  font-family: 'Pretendard', sans-serif;
}

@layer utilities {
  .strike-through::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #9ca3af;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
  }

  .strike-through.checked::after {
    transform: scaleX(1);
  }
}
